Flask
Werkzeug
Jinja2
MarkupSafe
itsdangerous
click
blinker
Pillow
python-dotenv
pymongo
bcrypt
dnspython
certifi
flask-session
torch==2.8.0
torchvision==0.23.0
ultralytics
opencv-python
numpy
scipy
reportlab
google-generativeai
langchain
langchain-google-genai
langchain-community
SpeechRecognition
pyttsx3
PyPDF2
python-magic
deep_translator
gunicorn  
